.container {
  bottom: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  animation-duration: 3s;
}

.container > p {
  margin: 0;
}

.container:has('open') {
  animation-name: fadeOut;
}

.top {
  top: 0;
  bottom: unset;
}

.bottom {
  top: unset;
  bottom: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
