{
    "extends": "stylelint-config-standard",
    "ignorePatterns": [
        "node_modules",
        "dist",
        "deprecated"
    ],
    "rules": {
        "color-hex-length": "long",
        "indentation": 4
    }
}