img {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

#metadata {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5em;
}

#metadata > .prefix {
    font-size: 2em;
    opacity: 0.3;
    padding-right: 0.2em;
}

#metadata > input {
    flex: 1;
    font-size: 2em;
    color: var(--vscode-editor-foreground);
    background-color: transparent;
    border: none;
}

#viewport {
    user-select: none;
    outline: none;
}

footer {
    position: fixed;
    margin: 1em;
    right: 0;
    bottom: 0;
}

fieldset {
    position: relative;
    display: inline-block;
    background-color: var(--vscode-editor-background);
}

fieldset.empty {
    display: none;
}

fieldset .controlGroup {
    display: inline-block;
}

fieldset .control {
    display: flex;
    flex-direction: row;
    align-items: center;
}

fieldset .control > label {
    flex: 1;
    text-align: right;
}

fieldset input {
    background-color: transparent;
    color: var(--vscode-editor-foreground);
    width: 3em;
}

fieldset > legend {
    padding: 0 0.3em;
    background-color: var(--vscode-editor-background);
    border-radius: 0.5em;
    white-space: nowrap;
}

fieldset > canvas {
    top: 0;
    right: 0;
}
