:host {
    display: block;
}

table {
    border-collapse: collapse;
    font-family: monospace;
}

table,
th,
td {
    border: 1px solid #666666;
}

th,
td {
    padding: 5px 10px;
}

td {
    text-align: center;
}

thead th {
    padding: 0;
}

.colHeader > th {
    font-size: 0.8em;
    padding: 0 10px;
    letter-spacing: 3px;
    background-color: #aaaaaa;
    color: #666666;
}

tbody output {
    border-radius: 0.3em;
    padding: 3px;
}

tr:not(.primary) .name,
tr:not(.primary) .value {
    opacity: 0.3;
}

tr:nth-child(2n) {
    background-color: #eeeeee;
}

.tableHeader {
    color: #666666;
}

.tableTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

#slotContainer {
    flex: 1;
}

p {
    display: inline;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

#poll:empty::after,
#focus:empty::after {
    content: "✗";
    color: #ff0000;
}
