:host {
    display: inline-block;
}

.hidden {
    display: none;
}

div {
    font-family: monospace;
    color: #666666;
    outline: 1px solid #666666;
    padding: 4px;
}

p {
    display: inline;
    margin: 0;
    padding: 0;
}

#poll:empty::after,
#focus:empty::after {
    content: "✗";
    color: #ff0000;
}
