:host {
    display: inline-block;
    color: #555555;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

canvas {
    background: #000000;
    margin: auto;
    image-rendering: pixelated;
}

label {
    font-family: monospace;
    color: currentColor;
    position: absolute;
}

#title {
    left: 0.5rem;
    top: 0.5rem;
}

#fps {
    right: 0.5rem;
    top: 0.5rem;
}

#dimension {
    left: 0.5rem;
    bottom: 0.5rem;
}

.hidden {
    display: none;
}

:host([debug]) .container {
    outline: 6px dashed rgba(0, 0, 0, 0.1);
    outline-offset: -4px;
    background-color: rgba(0, 0, 0, 0.1);
}

:host([mode="noscale"]) canvas {
    margin: 0;
    top: 0;
    left: 0;
}

:host([mode="fit"]),
:host([mode="center"]),
:host([mode="stretch"]) {
    width: 100%;
    height: 100%;
}

:host([full]) {
    width: 100vw !important;
    height: 100vh !important;
}

:host([disabled]) {
    display: none;
}

slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

::slotted(*) {
    pointer-events: auto;
}
